div.dice{
    width: 40px;
    background-color: blue;
    border: white 2px solid;
    color: burlywood;
padding: 10px;
    font-size: 24px;
    text-align: center;
margin: 5px;
}
#die2{
    background: red;
}
body{
    background: white;
    color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
}