*{
    padding: 0;
    margin: 0;
}
body{
    background:white;
    background-size: cover;
}
.header{
    
    text-align: center;
    margin: 1rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: white;
    padding: 0.1rem;
    box-shadow: 2px 3px 10px 3px yellowgreen;
}
p{
    margin: 1rem;
    color: blue;
    padding: 0.1rem;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;;
    letter-spacing: 0.1rem;
    font-size: 1rem;
}
.ques{
    color: darkblue;
    font-size: 1rem;
    letter-spacing: 0.1rem;
font-weight: bold;

}
.scoreboard{
    text-align: center;
margin-top: 1rem;
    background: blueviolet;
    height: 16rem;
     ;

}
.head{
    font-size:1.5rem;
    font-weight: bold;
    color: darkblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1.5px;
    text-align: center;
    text-shadow: 4px 3px 2px blue;
    font-style:italic;
    margin-top: 5px;
}
hr{
    height: 2px;
    background: blueviolet;
    margin-top: 10px;
    box-shadow: 3px 3px 7px 3px red;
}
#result{
    text-align: center;
padding: 2rem;
color: white;
font-size: 1.2rem;
text-shadow: 4px 3px 3px darkblue;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    padding: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 4px 3px 3px white;
}
#btn{
    height: 3rem;
    width: 8rem;
    color: white;
    background: blueviolet;
    border: 2.5px solid blueviolet;
    box-shadow: 5px 3px 6px 2px darkmagenta
}

#btn2{
    height: 3rem;
    width: 8rem;
    color: white;
    background: green;
    border: 2.5px solid green;
    box-shadow: 5px 3px 6px 2px green;
    margin: 1rem;
    
}


@media(max-width:998) {
    html{
        font-size: 50%;
    }
    .scoreboard{
background-size: cover;

        
    }
}

@media(max-width:768) {
    html{
        font-size: 30%;
    }
    .scoreboard{
        background-size: cover;
         
    }
}
