

body{
  background: linear-gradient(to left,blueviolet,blue,pink);
  text-align: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-size: cover;
}
#input{
  height: 3rem;
  width: 300px;
  text-align: center;
  font-size: 1.5rem;
  border: none;
  margin: 20px;
  margin-top: 20px;
color: blue;
border: none;
}
.btn{
  height: 4rem;
  width: 10rem;
  font-size: 1rem;
  font-weight: 800;
  color: navy;
  letter-spacing: 1px;
}
#result{
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  letter-spacing: 1.5px;
}
#about{
  display: none;
  color: white;
}
a{
  color:black;
  text-decoration: none;
  margin-top: 20px;
  font-size: 1.3rem;
  background: goldenrod;
  margin-top: 10px;
  padding: 3px;
}