#text {
    text-align: justify;
    display: block;

    font-size: 1rem;
    border: 2px solid blue;
    outline: none;
    background: linear-gradient(To right,yellow,white,yellowgreen);

}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
}
#button{
    background: white;
font-weight: bold;
    color: blue;
    outline: none;
    border: none;
    font-size: 0.8rem;

}
h5{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    background: linear-gradient(navy,white);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
hr{
    height: 4px;
    background: linear-gradient(to right, blue,green,red,pink)

}
#paragraph{
    margin: 5px ;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
    color: chocolate;
    text-align: justify;
    padding: 5px;
}
p{
    font-size:0.7rem;
}
.we{
    background: linear-gradient(to right,pink ,white,blueviolet);
    border: none;
    outline: none;
    color: darkblue;
}
.box{
    
    text-align: center;
}
.display{
    float: left;
    font-size: 0.7rem;
    font-weight: 900;
    color: blue;
}